.no_encontrado {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no_encontrado h1 {
  color: black;
}
.no_encontrado a {
  text-decoration: none;
  color: var(--primary);
  font-size: 3rem;
  margin: 0;
}